.jumboText {
    text-align: center;
}

.jumbotron {
    background-image: url(../images/IMG_3390.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin-bottom: 0;
}

.jumboText h1 {
    font-family: 'Sacramento', cursive;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
                 0px 8px 13px rgba(0,0,0,0.2),
                 0px 18px 23px rgba(0,0,0,0.1);
    color: white;
    font-size: 7em;
    margin-bottom: 0;
    margin-top: 40px;
}

.jumboText h3 {
    font-family: 'Cinzel', serif;
    color: white;
    margin: 0;
    font-size: 2.2em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
                 0px 8px 13px rgba(0,0,0,0.2),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 1.5em;
}

.navbar-default {
    background-color: #f1f1f1;
}

.sectionGray {
    background-color: #f1f1f1;
    padding: 48px 0;
}

.sectionWhite {
    padding: 48px 0;
}

h1.rightLine {
    position: relative;
    margin-top: 0;
}

h1.rightLine span {
    background: #f1f1f1;
    padding: 0 15px 0 0;
    position: relative;
    z-index: 1;
}

h1.rightLine:after {
    background: black;
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    top: 50%;
    width: 100%;
    left: 0;
}

#center {
    text-align: center;
}

#center span {
    background: white;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 15px;
}
